# CODEOWNERS file
#
# For documentation on this file,
# see https://help.github.com/articles/about-codeowners/
# Mentioned users will get code review requests.

# This file
/.github/CODEOWNERS @Mic92

# python
/bin @Mic92
/nur @Mic92
/setup.py @Mic92

# CI
/ci @Mic92 @zimbatm

# nix
/lib @Infinisil
