# EditorConfig configuration for nixpkgs
# http://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file, utf-8 charset
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Match json/python files, set indent to spaces with width of two
[*.{json,py}]
indent_style = space
indent_size = 4
